@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@300;400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: rgb(155, 155, 155);
}

header {
    background-color: white;
    height: 130px;
    position: fixed;
    width: 100%;
    position: fixed;
    border-bottom: 4px solid rgb(114, 113, 113);
}

header .shap p{
    float: left;
    text-align: center;
    margin-left: 20px;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-top: 40px;
    cursor: pointer;
    width: 135px;
    height: 48px;
    line-height: 48px;
    border-radius: 5px;
    text-align: center;
    border: 2px solid green;
    background-color: rgb(255, 255, 255);
}

header .shap .gla{
    margin-left: 540px;
}

main {
    height: 2000px;
    /* background-color: thistle; */
}

main .ima img{
    width: 540px;
    height: 350px;
    float: inline-end;
    margin-top: 400px;
    margin-left: 540px; 
}